# Environnement virtuel (très lourd, ne pas pusher)
venv311/
venv/
.venv/

# Fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class


# Configuration VS Code
.vscode/

# ⚠️ Ne pas ignorer les images ni les fichiers HTML
# (donc suppression de *.png et *.html)